.idea/
.vscode/
__pycache__
*/__pycache__
.DS_Store
*/.DS_Store
env/

*.csv
/*.json
detectors/*.json
generation/*.json
*.pt
/data/
/generation/newdata
/generation/testing
/slurm-scripts/
/generation/data
/logs

test_labels.json
/dist
/venv
